@{
    var showSidebar = ViewData["ShowSidebar"] as bool? ?? true; 
    var centeredPages = new[] { "/Authorization", "/Registration" };
    var isLoginPage = centeredPages.Contains(ViewContext.RouteData.Values["Page"]?.ToString());
    var isProfilePage = ViewContext.RouteData.Values["Page"]?.ToString() == "/Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjManagmentSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjManagmentSystem.styles.css" asp-append-version="true" />
</head>
<body >
    <header>

    </header>
    @if (ViewContext.RouteData.Values["Page"]?.ToString() == "/Profile" )
    {
        <div class="profile-background"></div>
    }

    @if (showSidebar)
    {
        @Html.Partial("Sidebar")
    }

    
    <div class="@(isLoginPage ? "authreg" : "") @(isProfilePage ? "auth-page" : "content")">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>