@{
    var showSidebar = ViewData["ShowSidebar"] as bool? ?? true; 
    var centeredPages = new[] { "/Authorization", "/Registration", "/ForgotPassword" };
    var isLoginPage = centeredPages.Contains(ViewContext.RouteData.Values["Page"]?.ToString());
    var isProfilePage = ViewContext.RouteData.Values["Page"]?.ToString() == "/Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjManagmentSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjManagmentSystem.styles.css" asp-append-version="true" />

</head>
<body >
    <header>

    </header>
    <div class="container">
        @if (ViewContext.RouteData.Values["Page"]?.ToString() == "/Profile")
        {
            <div class="profile-background"></div>
        }

        @if (showSidebar)
        {
            @Html.Partial("Sidebar")
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div id="errorAlert" class="custom-alert alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                <span>@TempData["ErrorMessage"]</span>
                <button type="button" class="btn-close ms-3" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="@(isLoginPage ? "authreg" : "") @(isProfilePage ? "auth-page" : "content")">
            @RenderBody()
        </div>


    </div>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>