@using ProjManagmentSystem.Services

@{
    @inject UserService UserService
    
    <div id="sidebar" class="sidebar">
        <h1>TASKA</h1>
        <a asp-page="/Profile" class="block-link @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Profile" ? "active" : "")">
            <div class="user-info">
                <div class="user-info-content" style="display: flex;">
                    @if (@UserService.Image == null)
                    {
                        <img class="menu-ico" style="width: 30px; height: 30px;" src="Images/ico.png" />
                    }
                    else
                    {
                        <img class="menu-ico" style="width: 30px; height: 30px;" src="data:image/jpeg;base64,@Convert.ToBase64String(@UserService.Image)" />
                    }
                    <p>@UserService.FIO</p>
                </div>
            </div>
        </a>
        <hr class="divider">
        <ul>
            <li class="menu-elements @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Employee" ? "active" : "")">
                <a asp-page="/Employee" class="menu-link">
                    <img class="menu-ico" src="~/Images/employees.png" alt="Employees" />
                    <span>Сотрудники</span>
                </a>
            </li>
            <li class="menu-elements @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Projects" ? "active" : "")">
                <a asp-page="/Projects" class="menu-link">
                    <img class="menu-ico" src="~/Images/projects.png" alt="Projects" />
                    <span>Проекты</span>
                </a>
            </li>
            <li class="menu-elements @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Tasks" ? "active" : "")">
                <a asp-page="/Tasks" class="menu-link">
                    <img class="menu-ico" src="~/Images/tasks.png" alt="Tasks" />
                    <span>Задачи</span>
                </a>
            </li>
            <li class="menu-elements @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Calendar" ? "active" : "")">
                <a asp-page="/Calendar" class="menu-link">
                    <img class="menu-ico" src="~/Images/calendar.png" alt="Calendar" />
                    <span>Календарь</span>
                </a>
            </li>
            <li class="menu-elements @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Archive" ? "active" : "")">
                <a asp-page="/Archive" class="menu-link">
                    <img class="menu-ico" src="~/Images/archive.png" alt="Archive" />
                    <span>Архив</span>
                </a>
            </li>
        </ul>
    </div>
}
