@page
@model ProfileModel
@{
	ViewData["Title"] = "Profile";
    var isProfilePage = ViewContext.RouteData.Values["Page"]?.ToString() == "/Profile";
}


<div class="image-info">
    @if(Model.user.image == null)
    {
        <img src="Images/big-ico.png" style="width: 180px; height: 210px; margin-right: 32px; "></img>
    }
    else
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.user.image)" style="width: 180px; height: 210px; margin-right: 32px; "></img>
    }
    
    <div class="info">
        <div style="display: flex; justify-content: space-between;">
            <h1 style="font-weight: bold; font-size: 32px; margin-right: 10px;">@Model.user.surname @Model.user.name @Model.user.patronymic</h1>
            <div style="display: flex;align-items: center;">
            <a id="editProfileButton" style="color: #2954EC; font-size: 13px; margin-right: 5px; cursor: pointer; font-weight:550">Редактировать профиль</a>
                <form method="post">
                    <button type="submit" asp-page-handler="ButtonClick" class="button">Выйти</button>
                </form>
            </div>
        </div>
        <p style="color: #232323; font-size: 13px;">@Model.user.email</p>
        @if (Model.user.last_activity.HasValue)
        {
            <p style="color: #AEAEAE; font-size: 11px;">
                Последняя активность: @Model.user.last_activity.Value.ToString("dd.MM.yyyy HH:mm")
            </p>
        }
        <hr style="border: 0; height: 2px; background: #2954EC;">
        <h3 style="font-size: 14px;">О себе</h3>
        <p style="color: #8E8E8E; font-size: 14px;">@Model.user.description</p>
    </div>
</div>

@if (isProfilePage)
{
    <div id="modalOverlay" class="modal-overlay" style="display: none;"></div>
    <div id="editProfileModal" class="modal-content" style="display: none;">
        <span id="closeModal" class="close">&times;</span>
        <p style="color: #ABABAB; font-size: 14px;">Изменение личных данных</p>
        <hr style="border: 0; height: 2px; background: #B5B5B5;">
        <form id="editProfileForm" method="post" asp-page-handler="UpdateProfile" enctype="multipart/form-data" onsubmit="return prepareForm()">
            <div style="display: flex; gap: 80px;">
                <div style="text-align: center;">
                    @if (Model.user.image == null)
                    {
                        <img id="profileImage" src="Images/big-ico.png" name="image" style="width: 150px; height: 180px; display: block; margin: 0 auto;">
                    }
                    else
                    {
                        <img id="profileImage" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.user.image)" name="image" style="width: 150px; height: 180px; display: block; margin: 0 auto;">
                    }

                    <div style="display: flex; justify-content: center; gap: 8px; margin-top: 13px;">
                        <input type="file" id="imageInput" accept="image/*" onchange="previewImage(event)" hidden />
                        <label for="imageInput" style="color: #2954EC; font-size: 13px; cursor: pointer; margin-top: 0;">Изменить</label>
                        <a style="color: #EB0000; font-size: 13px;">Удалить</a>
                    </div>
                </div>
                <div style="width: 600px">
                    <h2 style="font-weight: 600; font-size: 16px;">Вы</h2>
                    <div style="display: flex; gap: 70px; align-items: center; margin-bottom: 7px;">
                        <p style="font-size: 14px;">Фамилия</p>
                        <input class="modal-input" name="surname" value="@Model.user.surname"></input>
                    </div>
                    <div style="display: flex; gap: 70px; align-items: center;margin-bottom: 7px;">
                        <p style="font-size: 14px;">Имя</p>
                        <input class="modal-input" name="name" value="@Model.user.name"></input>
                    </div>
                    <div style="display: flex; gap: 70px; align-items: center;margin-bottom: 28px;">
                        <p style="font-size: 14px;">Отчество</p>
                        <input class="modal-input" name="patronymic" value="@Model.user.patronymic"></input>
                    </div>
                    <input type="hidden" name="email" value="@Model.user.email">
                    <h2 style="font-weight: 600; font-size: 16px;">Краткая информация</h2>
                    <textarea id="description" name="description" style="height: 80px;">@Model?.user?.description</textarea><br>
                </div>
            </div>
            <hr style="border: 0; height: 2px; background: #B5B5B5;">
            <div style="display: flex; justify-content: space-between;">
                <a id="openModalConfirm" style="color: #EB0000; font-size: 13px">Удалить аккаунт</a>
                <div style="display: flex; align-items: center; gap: 8px;">
                    <button type="submit" class="button">Сохранить</button>
                </div>
            </div>

        </form>
    </div>

    <div id="modalConfirmOverlay" class="modal-overlay" style="display: none;"></div>

    <!-- Второе модальное окно -->
    <div id="modalConfirm" class="modal-content" style="display: none;">
        <span id="closeModalConfirm" class="close">&times;</span>
        <h2 style="font-weight: 600; font-size: 18px;">Подтверждение удаления аккаунта</h2>
        <p style="font-size: 14px;">Вы уверены, что хотите удалить свой аккаунт? Это действие нельзя отменить.</p>
        <div style="display: flex; margin-top: 20px; justify-content: center; gap: 30px;">
            <button id="cancelDelete" style="background-color: #2954EC; border: none; padding: 10px 20px; border-radius: 14px; cursor: pointer;">Отмена</button>
            <form method="post">
                <button type="submit" asp-page-handler="DeleteAccount" id="confirmDelete" style="background-color: white; color: #EB0000; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer;">Удалить</button>
            </form>
        </div>
    </div>
}


<script>
    const editProfileButton = document.getElementById('editProfileButton');
    const modalOverlay = document.getElementById('modalOverlay');
    const editProfileModal = document.getElementById('editProfileModal');
    const closeModalButton = document.getElementById('closeModal');

    const modalConfirm = document.getElementById('modalConfirm');
    const modalConfirmOverlay = document.getElementById('modalConfirmOverlay');
    const openModalConfirm = document.getElementById('openModalConfirm');
    const closeModalConfirm = document.getElementById('closeModalConfirm');
    const cancelDelete = document.getElementById('cancelDelete');
    const confirmDelete = document.getElementById('confirmDelete');


    if (editProfileButton) {
        editProfileButton.addEventListener('click', () => {

            modalOverlay.style.display = 'block';
            editProfileModal.style.display = 'block';
        });
    }

    if (closeModalButton) {
        closeModalButton.addEventListener('click', () => {
            modalOverlay.style.display = 'none';
            editProfileModal.style.display = 'none';
        });
    }

    if (modalOverlay) {
        modalOverlay.addEventListener('click', (event) => {
            if (event.target === modalOverlay) {
                modalOverlay.style.display = 'none';
                editProfileModal.style.display = 'none';
            }
        });
    }

    if (openModalConfirm) {
        openModalConfirm.addEventListener('click', () => {
            modalConfirmOverlay.style.display = 'block';
            modalConfirm.style.display = 'block';
        });
    }

    if (closeModalConfirm) {
        closeModalConfirm.addEventListener('click', () => {
            modalConfirmOverlay.style.display = 'none';
            modalConfirm.style.display = 'none';
        });
    }

    if (cancelDelete) {
        cancelDelete.addEventListener('click', () => {
            modalConfirmOverlay.style.display = 'none';
            modalConfirm.style.display = 'none';
        });
    }

    if (confirmDelete) {
        confirmDelete.addEventListener('click', () => {
            console.log('Аккаунт удален');
            modalConfirmOverlay.style.display = 'none';
            modalConfirm.style.display = 'none';
        });
    }

    if (modalConfirmOverlay) {
        modalConfirmOverlay.addEventListener('click', (event) => {
            if (event.target === modalConfirmOverlay) {
                modalConfirmOverlay.style.display = 'none';
                modalConfirm.style.display = 'none';
            }
        });
    }

    function previewImage(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                // Обновляем src у img
                document.getElementById('profileImage').src = e.target.result;
            };

            reader.readAsDataURL(file); // Преобразуем файл в Data URL
        }
    }

    function prepareForm() {
        const imageInput = document.getElementById('imageInput');
        const form = document.getElementById('editProfileForm');

        // Если выбрано новое изображение, добавляем его в форму
        if (imageInput.files.length > 0) {
            const formData = new FormData(form);
            formData.append('imageFile', imageInput.files[0]);

            // Отправляем форму с помощью fetch
            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                }
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });

            return false; // Предотвращаем стандартную отправку формы
        }

        return true; // Продолжаем стандартную отправку формы, если изображение не изменилось
    }

</script>

